<h1>Sign up </h1>

<%= form_with model: @user do |form| %>

  <%= label_and_text(form, :email) %>
  <%= label_and_password(form, :password) %>
  <%= label_and_text(form, :first_name) %>
  <%= label_and_text(form, :last_name) %>

  <%= form.submit %>
<% end%>