<!DOCTYPE html>
<html>
  <head>
    <title>Podcast</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>PODCAST AND CHILL</h1>
    <h2>A club to talk about podcasts and eat snacks, a lot of snacks.</h2>
    <%# <nav>
      <%= link_to 'Podcasts', controller: 'articles' %>
      <%# <%= link_to "About", "/about"  %>
    <%# </nav> %> 
    <%= yield %>

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="like_button.js"></script>
  </body>
</html>
